.Root {
  padding: 60px;
  display: flex;
  align-items: center;
}

.Nav {
  box-shadow: var(--box-shadow-md);
  position: fixed;
  top: 36px;
  left: 36px;
  width: 300px;
  border-radius: var(--border-radius-sm);
  padding: 20px 0;
  z-index: 10;
  background-color: var(--color-white);
  font-size: 18px;
}

.Logo {
  margin: 0 30px 0 22px;
}

.Title {
  margin-bottom: 0 !important;
}

.Button {
  background: none;
  border: none;
  font-size: 34px;
  color: var(--color-black);
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.Button :global(.secondary) {
  fill: var(--color-black);
}

.Button :global(.primary) {
  fill: var(--color-gray-1);
}

.Button:hover :global(.primary) {
  fill: var(--color-gray-2);
}

.NavButton {
  padding: 6px 30px 24px 24px;
}

.Link {
  display: block;
  padding: 10px 30px;
  transition: all 0.1s;
}

.Link:link,
.Link:visited,
.Link:active,
.Link:hover {
  color: var(--color-black);
}

.Link:hover {
  background-color: var(--color-gray-1);
}

.Link:global(.active) {
  background-color: var(--color-gray-2);
}
