.Root {
  padding: 60px;
  display: flex;
  align-items: center;
}

.Nav {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 36px;
  left: 36px;
  width: 300px;
  border-radius: 5px;
  padding: 20px 0;
  z-index: 10;
  background-color: #fff;
  font-size: 18px;
}

.Link {
  display: block;
  padding: 10px 30px;
  color: #000;
  transition: all 0.1s;
}

.Link:hover {
  background-color: #f5f5f5;
  color: #000;
}

.Button {
  background: none;
  border: none;
  font-size: 30px;
  color: #000;
  padding: 0 8px;
  margin: 0 0 0 -8px;
  cursor: pointer;
}

.Button svg {
  background-color: red;
}

.Link:hover {
  color: #000;
}

.NavButton {
  padding: 8px 28px 8px;
}

.Logo {
  margin: 0 30px 0 22px;
}

.Title {
  margin-bottom: 0 !important;
}
