.Root {
  padding: 60px;
  display: flex;
  align-items: center;
}

.Nav {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 36px;
  left: 36px;
  width: 300px;
  border-radius: 5px;
  padding: 20px 0;
  z-index: 10;
  background-color: #fff;
  font-size: 18px;
}

.Logo {
  margin: 0 30px 0 22px;
}

.Title {
  margin-bottom: 0 !important;
}

.Button {
  background: none;
  border: none;
  font-size: 34px;
  color: var(--color-black);
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.Button :global(.secondary) {
  fill: var(--color-black);
}

.Button :global(.primary) {
  fill: #e4eaee;
}

.Button:hover :global(.primary) {
  fill: #c5d0d6;
}

.NavButton {
  padding: 6px 30px 8px 24px;
}

.Link {
  display: block;
  padding: 10px 30px;
  color: var(--color-black);
  transition: all 0.1s;
}

.Link :global(.active) {
  background-color: #d7e0e6;
}

.Link:hover {
  background-color: #e4eaee;
}

.Link:hover {
  color: #000;
}
